<h1 class="my-5 text-center font-weight-bolder text-primary">Input Data Penerimaan</h1>

<%= render 'form', receive: @receive %>

        <%= link_to'Kembali', receives_path, class:"btn btn-secondary text-white btn-custom rounded-pill pull-left" %> 
        </div>
            </div>
               </div>
                   </div>
                        <br>