<div class="container-fluid mb-5">
  <h3 class="font-weight-bold text-center text-primary">Dashboard Material Persediaan</h3>
  <!-- <div class="row my-4">
                        <label for="filterRange" class="col-sm-2 col-form-label">Filter Graph Range</label>
                        <div class="col-sm-4">
                            <select class="form-control" onchange="changeRange(event)" id="filterRange">
                                <option value="bulan">Per Bulan</option>
                                <option value="triwulan">Per Triwulan</option>
                                <option value="semester">Per Semester</option>
                                <option value="tahun">Per Tahun</option>
                            </select>
                        </div>
                    </div> -->
  <div class="row my-4">
    <div class="col-sm-auto">
      <select class="form-control" id="filter-year">
        <option value="2020">2020</option>
        <option value="2021" selected>2021</option>
        <option value="2022">2022</option>
        <option value="2023">2023</option>
      </select>
    </div>
    <div class="col-sm--auto">
      <select class="form-control" id="filter-range">
        <option value="bulan">Bulan</option>
        <option value="triwulan">Triwulan</option>
        <option value="semester">Semester</option>
      </select>
    </div>
    <div class="col-sm-auto">
      <select class="form-control" id="filter-month">
        <option value="">0</option>
      </select>
    </div>
    <div class="col-sm-2">
      <select class="form-control" id="filter-place">
        <option value="2020">All Gudang</option>
        <option value="klender">Klender</option>
        <option value="dagot">Dagot</option>
      </select>
    </div>
    <div class="col-sm-auto">
      <button type="button" class="btn btn-primary" id="set-filter">Set</button>
    </div>
  </div>
  <div class="row justify-content-center mb-5">
    <div class="col-md-4 align-self-center">
      <div class="card border-left-primary shadow pb-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <p class="title-card-dashboard m-0 font-weight-bold text-primary">Saldo
                Akhir Persediaan</p>
            </div>
            <div class="col-auto">
              <i class="fas fa-coins fa-2x text-primary"></i>
            </div>
          </div>
          <div class="h5 mb-0 font-weight-bold text-gray-800">Rp. 25.000.000.000,00</div>
        </div>
      </div>
    </div>
    <div class="col-md-7" style="height: 250px;">
      <h4 class="text-center font-weight-bold text-primary mb-1">Saldo Akhir Persediaan</h4>
      <canvas id="chartSaldoAkhir"></canvas>
    </div>
  </div>
  <div class="row justify-content-center mb-5 py-2">
    <div class="col-md-4 align-self-center">
      <div class="card border-left-primary shadow pb-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <p class="title-card-dashboard m-0 font-weight-bold text-primary">Total
                Penerimaan</p>
            </div>
            <div class="col-auto">
              <i class="fas fa-cart-arrow-down fa-2x text-primary"></i>
            </div>
          </div>
          <div class="h5 mb-0 font-weight-bold text-gray-800">5000</div>
        </div>
      </div>
    </div>
    <div class="col-md-7" style="height: 250px;">
      <h4 class="text-center font-weight-bold text-primary mb-1">Total Penerimaan</h4>
      <canvas id="chartTotalPenerimaan"></canvas>
    </div>
  </div>
  <div class="row justify-content-center mb-5 py-2">
    <div class="col-md-4 align-self-center">
      <div class="card border-left-primary shadow pb-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <p class="title-card-dashboard m-0 font-weight-bold text-primary">Total
                Pengeluaran</p>
            </div>
            <div class="col-auto">
              <i class="fas fa-sign-out-alt fa-2x text-primary"></i>
            </div>
          </div>
          <div class="h5 mb-0 font-weight-bold text-gray-800">7000</div>
        </div>
      </div>
    </div>
    <div class="col-md-7" style="height: 250px;">
      <h4 class="text-center font-weight-bold text-primary mb-1">Total Pengeluaran</h4>
      <canvas id="chartPenjualan"></canvas>
    </div>
  </div>
  <div class="row justify-content-center mb-5 pb-2">
    <div class="col-md-4 align-self-center">
      <div class="card border-left-primary shadow pb-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <p class="title-card-dashboard m-0 font-weight-bold text-primary">Total
                Keproyekkan</p>
            </div>
            <div class="col-auto">
              <i class="fas fas fa-dolly-flatbed fa-2x text-primary"></i>
            </div>
          </div>
          <div class="h5 mb-0 font-weight-bold text-gray-800">7000</div>
        </div>
      </div>
    </div>
    <div class="col-md-7" style="height: 250px;">
      <h4 class="text-center font-weight-bold text-primary mb-1">Total Keproyekkan</h4>
      <canvas id="chartKeproyekkan"></canvas>
    </div>
  </div>
  <div class="row justify-content-center mb-5 pb-2">
    <div class="col-md-4 align-self-center">
      <div class="card border-left-primary shadow pb-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <p class="title-card-dashboard m-0 font-weight-bold text-primary">Total
                Pemeliharaan Aset</p>
            </div>
            <div class="col-auto">
              <i class="fab fa-asymmetrik fa-2x text-primary"></i>
            </div>
          </div>
          <div class="h5 mb-0 font-weight-bold text-gray-800">7000</div>
        </div>
      </div>
    </div>
    <div class="col-md-7" style="height: 250px;">
      <h4 class="text-center font-weight-bold text-primary mb-1">Total Pemeliharaan Aset</h4>
      <canvas id="chartPemeliharaan"></canvas>
    </div>
  </div>
  <!-- <div class="row justify-content-center mb-5 pb-2">
    <div class="col-md-4 align-self-center">
      <div class="card border-left-primary shadow pb-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <p class="title-card-dashboard m-0 font-weight-bold text-primary">Total
                Penghapusan Barang</p>
            </div>
            <div class="col-auto">
              <i class="fas fa-archive fa-2x text-primary"></i>
            </div>
          </div>
          <div class="h5 mb-0 font-weight-bold text-gray-800">7000</div>
        </div>
      </div>
    </div>
    <div class="col-md-7" style="height: 250px;">
      <h4 class="text-center font-weight-bold text-primary mb-1">Total Penghapusan Barang</h4>
      <canvas id="chartPenghapusanBarang"></canvas>
    </div>
  </div>
  <div class="row justify-content-center mb-5 pb-2">
    <div class="col-md-4 align-self-center">
      <div class="card border-left-primary shadow pb-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <p class="title-card-dashboard m-0 font-weight-bold text-primary">Total
                Penghapusan Buku</p>
            </div>
            <div class="col-auto">
              <i class="fas fa-book fa-2x text-primary"></i>
            </div>
          </div>
          <div class="h5 mb-0 font-weight-bold text-gray-800">7000</div>
        </div>
      </div>
    </div>
    <div class="col-md-7" style="height: 250px;">
      <h4 class="text-center font-weight-bold text-primary mb-1">Total Penghapusan Buku</h4>
      <canvas id="chartPenghapusanBuku"></canvas>
    </div>
  </div> -->
  <div class="row justify-content-center mb-5 pb-2">
    <div class="col-md-4 align-self-center">
      <div class="card border-left-primary shadow pb-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col">
              <p class="title-card-dashboard m-0 font-weight-bold text-primary">Total
                Retur</p>
            </div>
            <div class="col-auto">
              <i class="fas fa-arrow-circle-left fa-2x text-primary"></i>
            </div>
          </div>
          <div class="h5 mb-0 font-weight-bold text-gray-800">300</div>
        </div>
      </div>
    </div>
    <div class="col-md-7" style="height: 250px;">
      <h4 class="text-center font-weight-bold text-primary mb-1">Total Retur</h4>
      <canvas id="chartTotalRetur"></canvas>
    </div>
  </div>
  <div class="row mb-2 justify-content-center">
    <div class="col-md-5 mx-4 px-5" style="height: 300px;">
      <h5 class="text-center font-weight-bold text-primary mb-3">Total Nilai Berdasarkan Pemilik
        Barang
      </h5>
      <canvas id="myChartPie"></canvas>
    </div>
    <div class="col-md-5 px-5" style="height: 300px;">
      <h5 class="text-center font-weight-bold text-primary mb-3">Total Nilai Berdasarkan Kelompok
        Barang
      </h5>
      <canvas id="myChartPie1"></canvas>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-10 px-1" style="min-height: 400px;">
      <h5 class="text-center font-weight-bold text-primary mb-3" style="padding-left: 100px;">Total Nilai Barang Per Gudang
      </h5>
      <canvas id="myChartPie2"></canvas>
    </div>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script type="text/javascript">
  // Chart Line
  
  var option = {
      // scales: {
      //     yAxes: [
      //         {
      //               ticks: {
      //                 max: 32000000,
      //                 min: 26000000,
      //                 stepSize: 1000000,
      //               },
      //         },
      //     ],
      // },
      maintainAspectRatio: false,
      legend: {
          display: false,
      },
  };
  
  var chart_labels = [
      "January",
      "February",
      "March",
      "April",
      "May",
      "June",
      "July",
      "August",
      "September",
      "October",
      "November",
      "December",
  ];
  var chart_data = [
      30000000, 31000000, 30200000, 29200000, 28000000, 26500000, 28000000,
      30000000, 31000000, 28000000, 26500000, 2500000,
  ];
  
  var config = {
      type: "line",
      data: {
          labels: chart_labels,
          datasets: [
              {
                  fill: false,
                  // backgroundColor: "rgba(27, 95, 205, 0.5)",
                  borderColor: "rgb(27, 95, 205)",
                  data: chart_data,
              },
          ],
      },
      options: option
  };
  
  var chart_labels1 = [
      "January",
      "February",
      "March",
      "April",
      "May",
      "June",
      "July",
      "August",
      "September",
      "October",
      "November",
      "December",
  ];
  var chart_data1 = [
      25000000, 36000000, 30200000, 29200000, 28000000, 26500000, 28000000,
      30000000, 31000000, 25000000, 22200000, 2500000,
  ];
  
  var config1 = {
      type: "line",
      data: {
          labels: chart_labels1,
          datasets: [
              {
                  fill: false,
                  // backgroundColor: "rgba(27, 95, 205, 0.5)",
                  borderColor: "rgb(27, 95, 205)",
                  data: chart_data1,
              },
          ],
      },
      options: option
  };
  
  var chart_labels2 = [
      "January",
      "February",
      "March",
      "April",
      "May",
      "June",
      "July",
      "August",
      "September",
      "October",
      "November",
      "December",
  ];
  var chart_data2 = [
      25000000, 36000000, 30200000, 22200000, 25000000, 29500000, 28000000,
      30000000, 31000000, 25000000, 29200000, 26500000,
  ];
  
  var config2 = {
      type: "line",
      data: {
          labels: chart_labels2,
          datasets: [
              {
                  fill: false,
                  // backgroundColor: "rgba(27, 95, 205, 0.5)",
                  borderColor: "rgb(27, 95, 205)",
                  data: chart_data2,
              },
          ],
      },
      options: option
  };
  
  var chart_labels3 = [
      "January",
      "February",
      "March",
      "April",
      "May",
      "June",
      "July",
      "August",
      "September",
      "October",
      "November",
      "December",
  ];
  var chart_data3 = [
      25000000, 36000000, 40200000, 29200000, 28000000, 54500000, 28000000,
      30000000, 31000000, 25000000, 32200000, 45800000,
  ];
  
  var config3 = {
      type: "line",
      data: {
          labels: chart_labels3,
          datasets: [
              {
                  fill: false,
                  // backgroundColor: "rgba(27, 95, 205, 0.5)",
                  borderColor: "rgb(27, 95, 205)",
                  data: chart_data3,
              },
          ],
      },
      options: option
  };
  
  var chart_labels_default = chart_labels;
  var chart_data_default = chart_data;
  
  var chart_labels_default1 = chart_labels1;
  var chart_data_default1 = chart_data1;
  
  var chart_labels_default2 = chart_labels2;
  var chart_data_default2 = chart_data2;
  
  var chart_labels_default3 = chart_labels3;
  var chart_data_default3 = chart_data3;
  
  var chartSaldoAkhir = new Chart(document.getElementById("chartSaldoAkhir"), config);
  
  var chartTotalPenerimaan = new Chart(document.getElementById("chartTotalPenerimaan"), config1);
  
  var chartPenjualan = new Chart(document.getElementById("chartPenjualan"), config2);
  var chartKeproyekkan = new Chart(document.getElementById("chartKeproyekkan"), config2);
  var chartPemeliharaan = new Chart(document.getElementById("chartPemeliharaan"), config2);
  //var chartPenghapusanBarang = new Chart(document.getElementById("chartPenghapusanBarang"), config2);
  //var chartPenghapusanBuku = new Chart(document.getElementById("chartPenghapusanBuku"), config2);
  
  var chartTotalRetur = new Chart(document.getElementById("chartTotalRetur"), config3);
  
    $(document).ready(function () {
          $("#filter-range").change(function () {
              var val = $(this).val();
              if (val == "bulan") {
                  $("#filter-month").html("<option value='1'>1</option><option value='2'>2</option><option value='3'>3</option><option value='4'>4</option><option value='5'>5</option><option value='6'>6</option><option value='7'>7</option><option value='8'>8</option><option value='9'>9</option><option value='10'>10</option><option value='11'>11</option><option value='12'>12</option>");
              } else if (val == "triwulan") {
                  $("#filter-month").html("<option value='1-3'>1</option><option value='4-6'>2</option><option value='7-9'>3</option><option value='10-12'>4</option>");
              } else if (val == "semester") {
                  $("#filter-month").html("<option value='1-6'>1</option><option value='7-12'>2</option>");
              }
          });
          $("#set-filter").click(function () {
              var val_range = $("#filter-range").val();
              var val_month = $("#filter-month").val();
              if (val_range == "bulan") {
                  var data = chartSaldoAkhir.config.data;
                  var data1 = chartTotalPenerimaan.config.data;
                  var data2 = chartPenjualan.config.data;
                  var data3 = chartTotalRetur.config.data;
                  var data4 = chartKeproyekkan.config.data;
                  var data5 = chartPemeliharaan.config.data;
                 // var data6 = chartPenghapusanBarang.config.data;
                //var data7 = chartPenghapusanBuku.config.data;
  
                  data.datasets[0].data = chart_data_default;
                  data1.datasets[0].data = chart_data_default1;
                  data2.datasets[0].data = chart_data_default2;
                  data3.datasets[0].data = chart_data_default3;
                  data4.datasets[0].data = chart_data_default2;
                  data5.datasets[0].data = chart_data_default2;
                  //data6.datasets[0].data = chart_data_default2;
                  //data7.datasets[0].data = chart_data_default2;
  
                  data.labels = chart_labels_default;
                  data1.labels = chart_labels_default1;
                  data2.labels = chart_labels_default2;
                  data3.labels = chart_labels_default3;
                  data4.labels = chart_labels_default2;
                  data5.labels = chart_labels_default2;
                 // data6.labels = chart_labels_default2;
                  // data7.labels = chart_labels_default2;
  
                  chartSaldoAkhir.update();
                  chartTotalPenerimaan.update();
                  chartPenjualan.update();
                  chartKeproyekkan.update();
                  chartPemeliharaan.update();
                 // chartPenghapusanBarang.update();
                  // chartPenghapusanBuku.update();
                  chartTotalRetur.update();
              } else if (val_range == "triwulan") {
                  var data = chartSaldoAkhir.config.data;
                  var data1 = chartTotalPenerimaan.config.data;
                  var data2 = chartPenjualan.config.data;
                  var data3 = chartTotalRetur.config.data;
                  var data4 = chartKeproyekkan.config.data;
                  var data5 = chartPemeliharaan.config.data;
                //  var data6 = chartPenghapusanBarang.config.data;
                 // var data7 = chartPenghapusanBuku.config.data;
  
                  data.datasets[0].data = chart_data_default;
                  data1.datasets[0].data = chart_data_default1;
                  data2.datasets[0].data = chart_data_default2;
                  data3.datasets[0].data = chart_data_default3;
                  data4.datasets[0].data = chart_data_default2;
                  data5.datasets[0].data = chart_data_default2;
                  //data6.datasets[0].data = chart_data_default2;
                  //data7.datasets[0].data = chart_data_default2;
  
                  var chart_labels = [
                      "January",
                      "February",
                      "March",
                      "April",
                      "May",
                      "June",
                      "July",
                      "August",
                      "September",
                      "October",
                      "November",
                      "December"
                  ];
  
                  if (val_month == "1-3") {
                      // var chart_labels = [
                      //     "January",
                      //     "February",
                      //     "March"
                      // ];
                      var total_data = [data.datasets[0].data[0], data.datasets[0].data[1], data.datasets[0].data[2], '', '', '', '', '', '', '', '', ''];
                  } else if (val_month == "4-6") {
                      // var chart_labels = [
                      //     "April",
                      //     "May",
                      //     "June"
                      // ];
                      var total_data = ['', '', '', data.datasets[0].data[3], data.datasets[0].data[4], data.datasets[0].data[5], '', '', '', '', '', ''];
                  } else if (val_month == "7-9") {
                      // var chart_labels = [
                      //     "July",
                      //     "August",
                      //     "September"
                      // ];
                      var total_data = ['', '', '', '', '', '', data.datasets[0].data[6], data.datasets[0].data[7], data.datasets[0].data[8], '', '', ''];
                  } else if (val_month == "10-12") {
                      // var chart_labels = [
                      //     "October",
                      //     "November",
                      //     "December"
                      // ];
                      var total_data = ['', '', '', '', '', '', '', '', '', data.datasets[0].data[9], data.datasets[0].data[10], data.datasets[0].data[11]];
                  }
                  data.datasets[0].data = data1.datasets[0].data = data2.datasets[0].data = data3.datasets[0].data = data4.datasets[0].data = data5.datasets[0].data = total_data;
                  data.labels = data1.labels = data2.labels = data3.labels = data4.labels = data5.labels = chart_labels;
  
                  chartSaldoAkhir.update();
                  chartTotalPenerimaan.update();
                  chartPenjualan.update();
                  chartKeproyekkan.update();
                  chartPemeliharaan.update();
                  //chartPenghapusanBarang.update();
                  //chartPenghapusanBuku.update();
                  chartTotalRetur.update();
              } else if (val_range == "semester") {
                  var data = chartSaldoAkhir.config.data;
                  var data1 = chartTotalPenerimaan.config.data;
                  var data2 = chartPenjualan.config.data;
                  var data3 = chartTotalRetur.config.data;
                  var data4 = chartKeproyekkan.config.data;
                  var data5 = chartPemeliharaan.config.data;
                  //var data6 = chartPenghapusanBarang.config.data;
                 // var data7 = chartPenghapusanBuku.config.data;
  
                  data.datasets[0].data = chart_data_default;
                  data.labels = chart_labels_default;
  
                  var chart_labels = [
                      "January",
                      "February",
                      "March",
                      "April",
                      "May",
                      "June",
                      "July",
                      "August",
                      "September",
                      "October",
                      "November",
                      "December"
                  ];
                  if (val_month == "1-6") {
                      var total_data = [data.datasets[0].data[0], data.datasets[0].data[1], data.datasets[0].data[2], data.datasets[0].data[3], data.datasets[0].data[4], data.datasets[0].data[5], '', '', '', '', '', ''];
                  } else if (val_month == "7-12") {
                      var total_data = ['', '', '', '', '', '', data.datasets[0].data[6], data.datasets[0].data[7], data.datasets[0].data[8], data.datasets[0].data[9], data.datasets[0].data[10], data.datasets[0].data[11]];
                  }
                  data.datasets[0].data = data1.datasets[0].data = data2.datasets[0].data = data3.datasets[0].data = data4.datasets[0].data = total_data;
                  data.labels = data1.labels = data2.labels = data3.labels = data4.labels = chart_labels;
  
                  chartSaldoAkhir.update();
                  chartTotalPenerimaan.update();
                  chartPenjualan.update();
                  chartKeproyekkan.update();
                  chartPemeliharaan.update();
                  //chartPenghapusanBarang.update();
               //   chartPenghapusanBuku.update();
                  chartTotalRetur.update();
              }
          });
      });
  
  // Chart Pie
  const labelsPie = ["OM", "Korpel EPC", "Komersial", "KMP", "Persediaan"];
  const dataPie = {
      labels: labelsPie,
      datasets: [
          {
              backgroundColor: [
                  "rgb(79, 126, 174)",
                  "rgb(206, 100, 34)",
                  "rgb(56, 107, 196)",
                  "rgb(254, 197, 0)",
                  "rgb(142, 134, 132)",
              ],
              data: [30, 40, 25, 50, 30],
              borderColor: "#fff",
          },
      ],
  };
  const configPie = {
      type: "pie",
      data: dataPie,
      responsive: true,
      maintainAspectRatio: false,
      options: {
          legend: {
              display: true,
              position: "left",
          },
          plugins: {
              labels: {
                  render: 'percentage',
                  fontColor: 'white'
              }
          },
      },
  };
  var ctx = document.getElementById("myChartPie").getContext('2d');
  var myChartPie = new Chart(ctx, configPie);
  
  // Chart Pie1
  const labelsPie1 = [
      "Tubular Goods",
      "Cock and Valve",
      "Fitting & Flange",
      "Instrument",
      "Bahan Kimia",
      "Lain-Lain",
  ];
  const dataPie1 = {
      labels: labelsPie1,
      datasets: [
          {
              backgroundColor: [
                  "rgb(79, 126, 174)",
                  "rgb(206, 100, 34)",
                  "rgb(56, 107, 196)",
                  "rgb(254, 197, 0)",
                  "rgb(142, 134, 132)",
                  "rgb(118, 180, 79)",
              ],
              data: [30, 40, 25, 50, 30, 100],
          },
      ],
  };
  const configPie1 = {
      type: "pie",
      data: dataPie1,
      options: {
          legend: {
              display: true,
              position: "left",
          },
          plugins: {
              labels: {
                  render: 'percentage',
                  fontColor: 'white'

              }
          }
      },
  };
  
  var myChartPie1 = new Chart(document.getElementById("myChartPie1"), configPie1);
  
  // Chart Pie2
  const labelsPie2 = [
      "Batam", "Berbek", "Bogor", "Bojonegoro", "Cirebon", "Cilegon", "IT", "Klari", "Klender", "Lampung", "Medan", "Ngoro", "Pagardewa", "Palembang"
  ];
  const dataPie2 = {
      labels: labelsPie2,
      datasets: [
          {
              backgroundColor: [
                  "rgb(79, 26, 174)",
                  "rgb(206, 100, 34)",
                  "rgb(56, 107, 196)",
                  "rgb(254, 197, 0)",
                  "rgb(142, 134, 132)",
                  "rgb(118, 180, 79)",
                  "rgb(79, 126, 174)",
                  "rgb(206, 30, 34)",
                  "rgb(56, 107, 196)",
                  "rgb(224, 27, 0)",
                  "rgb(142, 134, 132)",
                  "rgb(56, 107, 196)",
                  "rgb(254, 197, 0)",
                  "rgb(142, 194, 132)",
              ],
              data: [30, 40, 25, 50, 30, 100, 90, 25, 34, 87, 66, 17, 17, 12],
          },
      ],
  };
 const configPie2 = {
      type: "pie",
      data: dataPie2,
      options: {
          legend: {
              display: true,
              position: "left",
          },
          plugins: {
              labels: {
                  render: 'percentage',
                  fontColor: 'white',
                  position: 'border'

              }
          }
      },
  };
  
  var myChartPie2 = new Chart(document.getElementById("myChartPie2"), configPie2);
</script>
