<h1 class="my-5 text-center font-weight-bolder">Edit Kelompok Barang</h1>

<%= render 'form', item_group: @item_group %>

  <div class="mb-3 float-left">
      <%= link_to 'Back', items_path, class:"btn btn-secondary text-white btn-custom rounded-pill" %>
    </div>
    </div>
  </div>
</div>
