<% if current_user.roles.any? { |r| r.name == 'User Komersial' } %>
  <h1 class="my-5 text-center font-weight-bolder">Input Jumlah Permintaan</h1>
  <%= render 'form_sale_item', receive_item: @receive_item %>
<% elsif current_user.roles.any? { |r| r.name == 'Staff Gudang' } %>
  <h1 class="my-5 text-center font-weight-bolder">Input Jumlah Dikeluarkan</h1>
  <%= render 'form_sale_item', receive_item: @receive_item %>
<% elsif current_user.roles.any? { |r| r.name == 'Admin Persediaan' } %>
  <h1 class="my-5 text-center font-weight-bolder">Edit Barang Penerimaan</h1>
  <%= render 'form', receive_item: @receive_item %>

<% end %>
