<h1 class="my-5 text-center font-weight-bolder text-primary">Edit Satuan Ukur</h1>


<%= render 'form', measurement: @measurement %>


  <div class="mb-3 float-left">
      <%= link_to 'Kembali', measurements_path, class:"btn btn-secondary text-white btn-custom rounded-pill" %>
    </div>
    </div>
  </div>
</div>