<h1 class="my-5 text-center text-primary font-weight-bolder">Input Data Satuan Ukur</h1>

<%= render 'form', measurement: @measurement %>

 
    <%= link_to 'Kembali', measurements_path, class:"btn btn-secondary text-white btn-custom rounded-pill pull-left" %>
    </div>
        </div>
           </div>
               </div>
                  <br>