<h1 class="my-5 text-center font-weight-bolder text-primary">Input Data Barang</h1>

<%= render 'form', item: @item %>

     <div class="mt-4">
       <%= link_to 'Kembali', items_path, class:"btn btn-secondary text-white btn-custom rounded-pill" %>
      </div>
          </div>
             </div>
                 </div>
                     <br>