<h1 class="my-5 text-center font-weight-bolder text-primary">Edit Retur</h1>

    <%= render 'form', retur: @retur %>

      <%= link_to 'Kembali', returs_path, class:"btn btn-secondary text-white btn-custom rounded-pill pull-left" %>
      </div>
    </div>
  </div>
</div> 

<!-- <h1>Editing Retur</h1> -->

<%#= render 'form', retur: @retur %>

<%#= link_to 'Show', @retur %>
<%#= link_to 'Back', returs_path %>
