<h1 class="my-5 text-center font-weight-bolder text-primary">Input Retur</h1>

        <%= render 'form', retur: @retur %>


        <%= link_to 'Kembali', returs_path, class:"btn btn-secondary text-white btn-custom rounded-pill pull-left" %>
      </div>
    </div>
  </div>
</div> 