<h1 class="my-5 text-center">Input Data Pemeliharaan Aset</h1>

<%= render 'form', maintenance_asset: @maintenance_asset %>

<%= link_to 'Back', maintenance_assets_path, class:"btn btn-secondary text-white btn-custom rounded-pill" %>
