<h1 class="my-5 text-center font-weight-bolder text-primary">Edit Detail Gudang</h1>

<%= render 'form', warehouse: @warehouse %>

       <div class="float-left">
      <%= link_to 'Kembali', warehouses_path, class:"btn btn-secondary text-white btn-custom rounded-pill" %>
    </div>
    <div class="col-auto">
    </div>
  </div>
</div>
