<h1 class="my-5 text-center font-weight-bolder text-primary">Input Data Gudang</h1>

<%= render 'form', warehouse: @warehouse %>

<div class="float-left">
    <%= link_to 'Kembali', warehouses_path, class:"btn btn-secondary text-white btn-custom rounded-pill" %>
      </div>
          </div>
             </div>
                 </div>
                     <br>