<h1 class="my-5 text-center font-weight-bolder">Input Pengeluaran Barang Penjualan</h1>

<%= render 'form', sale: @sale %>

<div class="mb-3 float-left">
  <%= link_to 'Kembali', sales_path, class:"btn btn-secondary text-white btn-custom rounded-pill" %>
</div>
</div>
</div>