<%# <footer class="sticky-footer bg-white" style="margin-top: 40px;">
  <div class="container my-auto">
    <div class="copyright text-center my-auto">
      <span style="color: black;">Copyright &copy;2021 - INFINITY | PT.PGAS Solution</span>
    </div>
  </div>
</footer> %>

<footer class="sticky-footer">
  <p class="copyright text-center mb-1">Infinity - PT PGAS Solution</p>
    <p class="copyright text-center mb-2"> ©️ <%= Time.now.year %></p>
      </footer>